# Ignore Gradle project-specific cache directory
.gradle

.vscode

/buildSrc/build
/buildSrc/bin

/jme3-alloc/build 
/jme3-alloc/bin

/jme3-alloc-native/build 

/jme3-alloc-examples/build
/jme3-alloc-examples/bin
/jme3-alloc-examples/*.so
/jme3-alloc-examples/*.log
